/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower


/////////// Theme variables //////////////
$brand-danger : #d9534f;
$brand-info : #5bc0de;
$body-bg-color: #fafafa;
$text-fainted: #b3b3b3;
$text-fainted-hover: #8f8f8f;
$custom-black: #262626;
$faint-border: #ddd;

/////// Mixins
@mixin no-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

///// Generic Classes
[ng-cloak] {
  display: none !important;
}

.float-none {
  float: none !important;
}

///// State container to show error and info messages
.state-container {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid $faint-border;
  border-left-width: 5px;
}

/////// Error state ////////
.error-container {
  @extend .state-container;
  border-left-color: $brand-danger;

  h3 {
    color: $brand-danger;
  }
}

/////// Empty State ////////
.empty-container {
  @extend .state-container;
  border-left-color: $brand-info;

  h3 {
    color: $brand-info;
  }
}

.loader-img {
  margin-top: 50px;
  width: 66px;
  height: auto;
  margin-bottom: 50px;
}


///// Media Query
@media (max-width: 768px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.container {
  background-color: $body-bg-color;
}

.searchImageForm {
  @include no-padding-horizontal;
  margin-bottom: 20px;

  .search-wrapper {
    position: relative;
  }

  .search-clear {
    font-size: 1.2em;
    position: absolute;
    top: 13px;
    right: 14px;
    z-index: 100;
    color: $text-fainted;

    &:hover {
      color: $text-fainted-hover;
    }
  }
  
}

///////// pagination styles
.page-number-container {
  @include no-padding-horizontal;

  margin-top: 10px;
}

.search-result-wraper {
  >.image-panel {
    border: 1px solid $faint-border;
    @include no-padding-horizontal;

    .image-panel-header, .image-panel-footer {
      padding: 15px;
    }

    .image-panel-footer {
      .likes {
        font-size: 1.15em;
        color: $custom-black;
        margin-bottom: 4px;
      }
      .date-time {
        font-size: 0.85em;
        color: $text-fainted;
      }
    }
  }

  >.image-panel + .image-panel {
    margin-top: 10px;
  }

}

.profile-pic {
  width: 40px;
  height: 40px;
}

.user-name {
  display: inline-block;
  margin-left: 4px;
}
/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
