<!doctype html>
<html ng-app="prj1" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>prj1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



    <div class="container" ng-controller="SearchImageController as main">

      <div class="page-header">
        <h1>Find My Image <small>By Unsplash</small></h1>
      </div>

      <!-- Search Form -->
      <div class="row">
        <form ng-submit="main.onSearchImagesClickHandler()" autocomplete="off"
            class="col-sm-8 center-block float-none searchImageForm" name="searchImageForm">

          <div class="input-group has-feedback search-wrapper">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input ng-model="main.searchQuery" type="text" class="form-control input-lg" name="search" placeholder="Search your mood.."/>
            <a href="#" class="search-clear" ng-show="main.searchQuery" ng-click="main.resetForm()">
              <i class="glyphicon glyphicon-remove-circle"></i></a>
          </div>
        </form>
      </div>

      <div class="loader" ng-show="main.showLoader" ng-cloak>
        <img src="assets/images/loader.gif" class="loader-img center-block" alt="Loading.." />
      </div>

      <!-- Search Results -->
      <div class="row search-result-wraper" ng-show="! main.showLoader" ng-cloak>
        <h4 ng-if="main.searchTerm" ng-show="main.allImages.length" class="col-sm-offset-2 page-header">
          Search Results for '{{main.searchTerm}}'</h4>
        <div class="col-sm-8 image-panel center-block float-none" ng-repeat="pic in main.allImages">
          <div class="image-panel-header">
            <img  ng-src="{{pic.user.profile_image.small}}"
                  alt="profile"
                  class="img-circle profile-pic"/>
            <h4 class="user-name" ng-bind="pic.user.name"></h4>

          </div>
          <div class="image-panel-body">
            <img class="img-responsive"
            ng-src="{{pic.urls.regular}}"/>
          </div>
          <div class="image-panel-footer">
            <div class="likes">
              <i class="glyphicon glyphicon-heart"></i>
              <span class="likes-cnt" ng-bind="pic.user.total_likes"></span> Likes</div>
            <div class="date-time" ng-bind="pic.created_at | date:'dd MMM, yyyy'"></div>
          </div>
        </div>
        <div ng-show="main.noResults" class="col-sm-8 empty-container center-block float-none">
          <p>
            <h3>Oops...</h3> No results found. Try alternate keywords.
          </p>
        </div>

        <div ng-show="main.isError" class="col-sm-8 error-container center-block float-none">
          <p>
            <h3>Ahhh...</h3> <span>Something went wrong.</span>
          </p>
        </div>
      </div>

      <div class="row" ng-cloak ng-if="main.allPhotosCount">
        <div class="col-sm-10 page-number-container">
          <span class="pull-right">Page {{main.currentPage}}/ {{main.numOfPages}}</span>
          <div class="clearfix"></div>
          <ul class="pagination pull-right">
            <li class="item" ng-class="{disabled:main.currentPage==1}">
              <a href="#" ng-click="main.onPrevPageClickHandler()"><span>&lt;</span> Previous page</a></li>
            <li class="item" ng-class="{disabled: main.currentPage == main.numOfPages}">
              <a href="#" ng-click="main.onNextPageClickHandler()"><span>&gt;</span> Next page</a></li>
          </ul>
        </div>
      </div>

    </div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
